@page
@model AppointmentWebApp.Views.Appoitments.ListModel
@{
}
<link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />

<h1>Appointments !!!!!</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm" />
            <span class="input-group-btn">
                <button class="btn btn-outline-secondary">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>

<table class="table">
    @foreach (var appoinment in Model.Appointments)
    {
        <tr>
            <td>@appoinment.AppointmentName</td>
            <td>@appoinment.AppointmentDate</td>
            <td>@appoinment.Doctor.DoctorName</td>
            <td>@appoinment.IsAvaiable</td>
            <td>@appoinment.Location.LocationName</td>
            <td>
                <a class="btn btn-lg"
                   asp-page="./Detail"
                   asp-route-appointmentId="@appoinment.AppointmentId">
                    <i class="fa fa-info-circle">
                    </i>
                </a>
                <a class="btn btn-lg"
                   asp-page="./EditAppointment"
                   asp-route-appointmentId="@appoinment.AppointmentId">
                    <i class="fa fa-edit">
                    </i>
                </a>
            </td>

        </tr>
    }


</table>

<a asp-page="./EditAppointment" class="btn btn-primary">Add New Appointment</a>


<div>@Model.Message</div>